<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>$(CFBundleDisplayName)</string>
    <key>NSCalendarsUsageDescription</key>
    <string>$(NSCalendarsUsageDescription)</string>
    <key>NSContactsUsageDescription</key>
    <string>$(NSContactsUsageDescription)</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>$(NSLocationAlwaysAndWhenInUseUsageDescription)</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>$(NSLocationWhenInUseUsageDescription)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.deksan.calendarasd.refresh</string>
		<string>com.deksan.calendarasd.processing</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.540859420644-a5mnvraqupd7l804e0s4e60doddqlktr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.Deksan.CalendarASD</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
</dict>
</plist>
