<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.arte-soft.HRApp.calendar-interview</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>calendar-interview</string>
            </array>
        </dict>
    </array>
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.arte-soft.HRApp.calendar-interview</string>
    </array>
</dict>
</plist>
